<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>

        <div class="top-bar">
            <% include ./partials/body.ejs %>
        </div>

        <nav>
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/home/gallery">Main Gallery</a>
                        <a class="dropdown-item" href="/home/new">Upload your kit!</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/home/getting_started">Tutorials</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/news_events">News and Events</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/resources">External Resources</a></li>

                <% if(currentUser){ %>
                    <li class="nav-item"><a class="nav-link" href="/home/profile">Profile</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/home/new_session">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/new_user">Register</a></li>
                <% } %>
            </ul>
        </nav>


        <h1 class="title"><% include ./partials/title.ejs %></h1>

        <main class="center-page">
            <div class="">
                <h2><%=kits.name%></h2>
                <h4><%=kits.grade%></h4>
                <img class="img-edit" src="<%=kits.img%>" alt="<%=kits.name%>"><br/>
                <p class="home-p"><%=kits.description%></p>
            </div>

            <div class="form-container-edit">
                <h2>Edit Kit Information</h2>
                <form action="/home/gallery/<%=kits.id%>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label for="grade">GRADE:</label><br/>
                        <select type="text" name="grade" value="<%=kits.grade%>">
                            <option value="High Grade">High Grade</option>
                            <option value="Real Grade">Real Grade</option>
                            <option value="Master Grade">Master Grade</option>
                            <option value="Perfect Grade">Perfect Grade</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control-sm" type="text" name="name" value="<%=kits.name%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control-sm" type="text" name="img" value="<%=kits.img%>">
                    </div>
                    <div class="form-group">
                        <textarea type="text" name="description" value="<%=kits.description%>"></textarea>
                    </div>
                    <input class="btn" type="submit" value="Update">
                </form>

                <form class="" action="/home/gallery/<%=kits.id%>?_method=DELETE" method="POST">
                    <input class=btn-primary type="submit" value="Delete Kit">
                </form>
            </div>

        </main>


        <footer id="footer">
            <% include ./partials/footer.ejs %>
        </footer>

    </body>
</html>
