<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <% if(currentUser){ %>
            <h2>Hi <%=currentUser.username%>!</h2>
        <% } else { %>
            <h2>Hello Guest</h2>
        <% } %>

        <nav>
            <a href="/home">Home</a>
            Main Gallery
            <a href="/home/getting_started">New to Gunpla?</a>
            <a href="/home/news_events">News and Events</a>
            <a href="/home/resources">External Resources</a>

            <% if(currentUser){ %>
                <a href="/home/profile">Profile</a>
            <% } else { %>
                <a href="/home/new_session">Login</a>
                <a href="/home/new_user">Register</a>
            <% } %>
        </nav>


        <h1>Gallery Page</h1>

        <nav>
            <a href="/home/new">Upload Your Kit!</a>
        </nav>

        <ul>
            <% for(let i=0; i < kits.length; i++) { %>
                <li>
                <a href="/home/gallery/<%=kits[i]._id%>">
                    <%=kits[i].name%><br/>
                </a>
                <%=kits[i].grade%><br/>
                <a href="/home/gallery/<%=kits[i]._id%>">
                    <img src="<%=kits[i].img%>" alt="<%=kits[i].name%>">
                </a><br/>
                <%=kits[i].description%><br/>

                <%=kits[i].createdAt%>
                </li>
            <% } %>
        </ul>

    </body>
</html>
