<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <% if(currentUser){ %>
            <h2>Hi <%=currentUser.username%>!</h2>
        <% } else { %>
            <h2>Hello Guest</h2>
        <% } %>

        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="/home/gallery">Main Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/getting_started">New to Gunpla?</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/news_events">News and Events</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/resources">External Resources</a></li>

                <% if(currentUser){ %>
                    <li class="nav-item"><a class="nav-link" href="/home/profile">Profile</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/home/new_session">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/new_user">Register</a></li>
                <% } %>
            </ul>
        </nav>


        <h1>Gallery Page</h1>

        <nav>
            <a href="/home/new">Upload Your Kit!</a>
        </nav>

        <ul>
            <% for(let i=0; i < kits.length; i++) { %>
                <li>
                <a href="/home/gallery/<%=kits[i]._id%>">
                    <%=kits[i].name%><br/>
                </a>
                <%=kits[i].grade%><br/>
                <a href="/home/gallery/<%=kits[i]._id%>">
                    <img src="<%=kits[i].img%>" alt="<%=kits[i].name%>">
                </a><br/>
                <%=kits[i].description%><br/>
                <%=kits[i].createdAt%>
                </li>
            <% } %>
        </ul>

    </body>
</html>
