<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>

        <% if(currentUser){ %>
            <h2>Hi <%=currentUser.username%>!</h2>
        <% } else { %>
            <h2>Hello Guest</h2>
        <% } %>

        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/gallery">Main Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/getting_started">New to Gunpla?</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/news_events">News and Events</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/resources">External Resources</a></li>

                <% if(currentUser){ %>
                    <li class="nav-item"><a class="nav-link" href="/home/profile">Profile</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/home/new_session">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/new_user">Register</a></li>
                <% } %>
            </ul>
        </nav>

        <h1>Show Page</h1>
        <%=kits.name%><br/>
        <%=kits.grade%><br/>
        <img src="<%=kits.img%>" alt="<%=kits.name%>"><br/>
        <%=kits.description%><br/>

        <a href="/home/gallery/<%=kits.id%>/edit">Edit Kit Info</a>


    </body>
</html>
