<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Show Page</h1>
        <%=kits.name%><br/>
        <%=kits.grade%><br/>
        <img src="<%=kits.img%>" alt="<%=kits.name%>"><br/>
        <%=kits.description%>

        <nav>
            <a href="/home/gallery/<%=kits.id%>/edit">Edit Kit Info</a><br/>
            <a href="/home/gallery">Back to Gallery</a>
        </nav>
    </body>
</html>
